<div>
    <app-tabs>
        <app-tab title="Timer">
            <app-timer *ngFor="let t of timers" init="{{t}}" (onComplete)="showAlertViewCountdownFinished()"></app-timer>
            <button class="add" (click)="showAlertView();time=0">+</button>
        </app-tab>
        <app-tab title="Crono">Crono. Nothing implements</app-tab>
        <app-tab title="Other">Other. Nothing implements</app-tab>
    </app-tabs>

    <app-alert-view [hidden]="!alertViewIsActive">
        <div header> Add new timer </div>
        <label>Set the number of seconds for your timer</label>
        <input [(ngModel)]="time" type="number" #timerInput>
        <button (click)="hideAlertView()" class="cancel-button">Cancel</button>
        <button (click)="addTimer()">Ok</button>
    </app-alert-view>

    <ng-container #alert></ng-container>

</div>